extends layout

block content
  h1 User Profile

  if user
    ul
      li
        strong Username:
        |  #{user.username}
      li
        strong Email:
        |  #{user.email}
      li
        strong Role:
        |  #{user.role}
      if user.created_at
        li
          strong Registered on:
          |  #{user.created_at}
  else
    p User not found.