extends layout

block content
  h1 Search for a movie

  form#searchForm
    input#searchInput(type="text", name="Title", placeholder="Search by title")
    button(type="submit") Search 

  #results


  button#addFavorite(type="button") Add to favorites
  
  script(src="/js/script.js")