extends layout

block content
  h1 User list

  if error
    p.error= error

  else if users && users.length
    table
      thead
        tr
          th Username
          th Email
          th Rol
      tbody
        each user in users
          tr
            td= user.username
            td= user.email
            td= user.role
  else
    p No users.