extends layout

block content
  .dashboard
    h1 Welcome to your user dashboard

    ul
      li: a(href="/search") Browse Movies
      li: a(href="/favorites") My favorites movies
      li: a(href="/logout") Logout

